	<section id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>About Us</h2>
	                <hr class="star-primary">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-12 text-center ">
	                <p>
	                	We are a group of experimental particle physicists and interested in applying machine learning techniques to physics data reconstruction and analysis. Our 
	                	<a href="{{ GROUPURL }}">main page</a> details a bit more about our group effort. This particular effort of sharing public data set is originated from the LArTPC experiment community where many physicists are interested in the techniques but lack of technical expertise to get work started. We hope this effort helps everyone in LArTPC community to take the 1st step of learning and applying machine learning techniques for his and her analysis. "Accelerating your research will benefit us all (the community)" is the idea behind this open-data effort.
	                </p>
	            </div>
	        </div>
	    </div>
	</section>